{
    "openapi": "3.0.0",
    "info": {
        "title": "Resume CV",
        "description": "Laravel based backend for an online resume",
        "contact": {
            "email": "info@example.com"
        },
        "license": {
            "name": "MIT"
        },
        "version": "1.1.0"
    },
    "servers": [
        {
            "url": "https://resumecvbackend.k2p.it",
            "description": "Api Server"
        }
    ],
    "paths": {
        "/api/v1/databases": {
            "get": {
                "tags": [
                    "Databases"
                ],
                "summary": "Return list of databases used by developer",
                "operationId": "6e3b2f720b1fc59c2fe77da53d858539",
                "responses": {
                    "200": {
                        "description": "List of databases used by developer",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DatabasesSchema"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/frameworks": {
            "get": {
                "tags": [
                    "Frameworks"
                ],
                "summary": "Return list of frameworks used by developer",
                "operationId": "cdbb25555cf599fd086077ed6b430d34",
                "responses": {
                    "200": {
                        "description": "List of frameworks used by developer",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FrameworksSchema"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/programming-languages": {
            "get": {
                "tags": [
                    "ProgrammingLangauges"
                ],
                "summary": "Return list of programming languages used by developer",
                "operationId": "c8d62df66bfec6e718eecb0196eaf70e",
                "responses": {
                    "200": {
                        "description": "List of programming languages used by developer",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProgrammingLanguagesSchema"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/tools": {
            "get": {
                "tags": [
                    "ToolsAndTechnologies"
                ],
                "summary": "Return list of tools used by developer",
                "operationId": "847995c94a1ea0325a84691107571a21",
                "responses": {
                    "200": {
                        "description": "List of tools used by developer",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ToolsAndTechnologiesSchema"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/working-mode": {
            "get": {
                "tags": [
                    "WorkingMode"
                ],
                "summary": "Working mode",
                "operationId": "68bb14848a247c5533e7dc4c899b7c84",
                "responses": {
                    "200": {
                        "description": "Working Mode",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WorkingModeSchema"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "DatabasesSchema": {
                "title": "Databases",
                "description": "Databases model",
                "properties": {
                    "data": {
                        "description": "List of databases",
                        "type": "array",
                        "items": {
                            "properties": {
                                "id": {
                                    "description": "ID of the database",
                                    "type": "number",
                                    "example": 1
                                },
                                "database_name": {
                                    "description": "Name of the database",
                                    "type": "string",
                                    "example": "MySQL"
                                },
                                "view_order": {
                                    "description": "Suggested order of visualization",
                                    "type": "number",
                                    "example": "1"
                                },
                                "use_percentage": {
                                    "description": "Percentage of time of use",
                                    "type": "number",
                                    "example": "20"
                                },
                                "created_at": {
                                    "description": "Date of creation",
                                    "type": "string",
                                    "example": "2023-01-29"
                                },
                                "updated_at": {
                                    "description": "Date of update",
                                    "type": "string",
                                    "example": "2023-01-29"
                                },
                                "deleted_at": {
                                    "description": "Date of deletion",
                                    "type": "string",
                                    "example": "2023-01-29"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "type": "object"
            },
            "FrameworksSchema": {
                "title": "Frameworks",
                "description": "Frameworks model",
                "properties": {
                    "data": {
                        "description": "List of frameworks",
                        "type": "array",
                        "items": {
                            "properties": {
                                "id": {
                                    "description": "ID of the framework",
                                    "type": "number",
                                    "example": 1
                                },
                                "name": {
                                    "description": "Name of the framework",
                                    "type": "string",
                                    "example": "MySQL"
                                },
                                "view_order": {
                                    "description": "Suggested order of visualization",
                                    "type": "number",
                                    "example": "1"
                                },
                                "knowledge_percentage": {
                                    "description": "Percentage of knowledge",
                                    "type": "number",
                                    "example": "20"
                                },
                                "color": {
                                    "description": "Suggested color",
                                    "type": "string",
                                    "example": "#FFFFFF"
                                },
                                "created_at": {
                                    "description": "Date of creation",
                                    "type": "string",
                                    "example": "2023-01-29"
                                },
                                "updated_at": {
                                    "description": "Date of update",
                                    "type": "string",
                                    "example": "2023-01-29"
                                },
                                "deleted_at": {
                                    "description": "Date of deletion",
                                    "type": "string",
                                    "example": "2023-01-29"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "type": "object"
            },
            "ProgrammingLanguagesSchema": {
                "title": "Programming Languages",
                "description": "Programming Languages model",
                "properties": {
                    "data": {
                        "description": "List of programming languages",
                        "type": "array",
                        "items": {
                            "properties": {
                                "id": {
                                    "description": "ID of the language",
                                    "type": "number",
                                    "example": 1
                                },
                                "name": {
                                    "description": "Name of the language",
                                    "type": "string",
                                    "example": "PHP"
                                },
                                "view_order": {
                                    "description": "Suggested order of visualization",
                                    "type": "number",
                                    "example": "1"
                                },
                                "knowledge_percentage": {
                                    "description": "Percentage of knowledge",
                                    "type": "number",
                                    "example": "95"
                                },
                                "created_at": {
                                    "description": "Date of creation",
                                    "type": "string",
                                    "example": "2023-01-29"
                                },
                                "updated_at": {
                                    "description": "Date of update",
                                    "type": "string",
                                    "example": "2023-01-29"
                                },
                                "deleted_at": {
                                    "description": "Date of deletion",
                                    "type": "string",
                                    "example": "2023-01-29"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "type": "object"
            },
            "ToolsAndTechnologiesSchema": {
                "title": "ToolsAndTechnologies",
                "description": "Tools and technologies model",
                "properties": {
                    "data": {
                        "description": "List of tools and technologies",
                        "type": "array",
                        "items": {
                            "properties": {
                                "id": {
                                    "description": "ID of the tool",
                                    "type": "number",
                                    "example": 1
                                },
                                "name": {
                                    "description": "Name of the tool",
                                    "type": "string",
                                    "example": "Docker"
                                },
                                "view_order": {
                                    "description": "Suggested order of visualization",
                                    "type": "number",
                                    "example": "1"
                                },
                                "use_percentage": {
                                    "description": "Percentage of use",
                                    "type": "number",
                                    "example": "90"
                                },
                                "created_at": {
                                    "description": "Date of creation",
                                    "type": "string",
                                    "example": "2023-01-29"
                                },
                                "updated_at": {
                                    "description": "Date of update",
                                    "type": "string",
                                    "example": "2023-01-29"
                                },
                                "deleted_at": {
                                    "description": "Date of deletion",
                                    "type": "string",
                                    "example": "2023-01-29"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "type": "object"
            },
            "WorkingModeSchema": {
                "title": "Working Mode",
                "description": "Working Mode model",
                "properties": {
                    "data": {
                        "description": "Working Mode",
                        "type": "array",
                        "items": {
                            "properties": {
                                "id": {
                                    "description": "ID of the mode",
                                    "type": "number",
                                    "example": 1
                                },
                                "name": {
                                    "description": "Name",
                                    "type": "string",
                                    "example": "Test Drive Development"
                                },
                                "view_order": {
                                    "description": "Suggested order of visualization",
                                    "type": "number",
                                    "example": "1"
                                },
                                "created_at": {
                                    "description": "Date of creation",
                                    "type": "string",
                                    "example": "2023-01-29"
                                },
                                "updated_at": {
                                    "description": "Date of update",
                                    "type": "string",
                                    "example": "2023-01-29"
                                },
                                "deleted_at": {
                                    "description": "Date of deletion",
                                    "type": "string",
                                    "example": "2023-01-29"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "type": "object"
            }
        }
    }
}